# Disimilarity (Tugas 1)

Mengukur jarak (dissimilarity)
1. Ambil data dari Kaggle atau GitHub
2. Ukur jarak 
d(1,2), d(1,3), d(1,4) dari data tersebut

## Dismilarity

Dalam peambangan data yang pengaplikasian yang sering digunakan adalah clustering. pada teknik ini perlu untuk menemukan seberapa mirip atau tidaknya data. Salah satu cara yaitu dengan menggunakan Dismilarity

## Import Modul

In [1]:
import pandas as pd
import numpy as np
import math

## Get Dataset

In [9]:
dataset_url="https://raw.githubusercontent.com/08-Ahlaqul-Karimah/machine-Learning/main/covid_19_india.csv"
p=pd.read_csv(dataset_url, index_col=0)

In [10]:
p

,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
Sno,,,,,,,,
1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...
18106,2021-08-11,8:00 AM,Telangana,-,-,638410,3831,650353
18107,2021-08-11,8:00 AM,Tripura,-,-,77811,773,80660
18108,2021-08-11,8:00 AM,Uttarakhand,-,-,334650,7368,342462
18109,2021-08-11,8:00 AM,Uttar Pradesh,-,-,1685492,22775,1708812
18110,2021-08-11,8:00 AM,West Bengal,-,-,1506532,18252,1534999

## Mencari Dismilarity data nominal

In [11]:
def diss(x,y):
  a = 4
  b = 0
  for col in ["Date", "Time", "State/UnionTerritory", "ConfirmedIndianNational", "",	"ConfirmedForeignNational", "Cured",	"Deaths", "Confirmed"	]:
    if p[col][x] == p[col][y]:
      b+=1
    return (a-b)/a

In [14]:
print(diss(1,1))

0.75

In [15]:
p.describe()

              Cured         Deaths     Confirmed
count  1.811000e+04   18110.000000  1.811000e+04
mean   2.786375e+05    4052.402264  3.010314e+05
std    6.148909e+05   10919.076411  6.561489e+05
min    0.000000e+00       0.000000  0.000000e+00
25%    3.360250e+03      32.000000  4.376750e+03
50%    3.336400e+04     588.000000  3.977350e+04
75%    2.788698e+05    3643.750000  3.001498e+05
max    6.159676e+06  134201.000000  6.363442e+06

In [16]:
#normalisasi Cured
std_cured = 6.148909e+05
mean_cured = 2.786375e+05
for col1 in ["Cured"]:
    p1 = p[col1]
    hasil1 = (p1-mean_cured)/std_cured
    print(hasil1)

#normalisasi Deaths
std_deaths = 10919.076411
mean_deaths = 4062.402264
for col2 in ["Deaths"]:
    p2 = p[col2]
    hasil2 = (p2-mean_deaths)/std_deaths
    print(hasil2)

Sno
1       -0.453149
2       -0.453149
3       -0.453149
4       -0.453149
5       -0.453149
           ...
18106    0.585100
18107   -0.326605
18108    0.091093
18109    2.287974
18110    1.996931
Name: Cured, Length: 18110, dtype: float64
Sno
1       -0.372046
2       -0.372046
3       -0.372046
4       -0.372046
5       -0.372046
           ...
18106   -0.021192
18107   -0.301253
18108    0.302736
18109    1.713753
18110    1.299524
Name: Deaths, Length: 18110, dtype: float64

## Menghitung jarak data Numeric dengan cara Euclidean

In [17]:

def num_p(a,b,c):
    result = 0
    for col in [hasil1, hasil2]:
        result = math.pow(abs(col[a] - col[b]), c)
    return result**(1/c)

## Manhattan distance

In [18]:
print(num_p(1,2,2))
print(num_p(1,3,2))
print(num_p(1,4,2))

0.0
0.0
0.0